In [71]:
import pandas as pd
import numpy as np
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error as MAE
from sklearn.metrics import mean_squared_error as MSE
from sklearn.metrics import mean_absolute_percentage_error as MAPE
from numpy import percentile
from sklearn.metrics import confusion_matrix as cm, ConfusionMatrixDisplay as cmd
from sklearn.metrics import classification_report as cr
import matplotlib.pyplot as plt

In [72]:
data=pd.DataFrame(datasets.load_iris().data)

In [73]:
data.columns=datasets.load_iris().feature_names

In [74]:
data["target"]=datasets.load_iris().target

In [75]:
data["target"]=data["target"].astype("object")

In [76]:
data["new feature"]=(data["sepal length (cm)"]*data["sepal width (cm)"])/(data["petal length (cm)"]*data["petal width (cm)"])

In [77]:
data.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,new feature
0,5.1,3.5,1.4,0.2,0,63.750000
1,4.9,3.0,1.4,0.2,0,52.500000
2,4.7,3.2,1.3,0.2,0,57.846154
3,4.6,3.1,1.5,0.2,0,47.533333
4,5.0,3.6,1.4,0.2,0,64.285714

In [83]:
data["target"].value_counts()

target
0    50
1    50
2    50
Name: count, dtype: int64

In [78]:
data.columns

Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)', 'target', 'new feature'],
      dtype='object')

In [79]:
pd.Series(data["petal width (cm)"]).describe()

count    150.000000
mean       1.199333
std        0.762238
min        0.100000
25%        0.300000
50%        1.300000
75%        1.800000
max        2.500000
Name: petal width (cm), dtype: float64

In [80]:
X_train, X_test, y_train, y_test = train_test_split(data.iloc[:,0:4], data.iloc[:,4], test_size=0.2, random_state=42,
stratify=data.iloc[:,4])

In [43]:
def myf(y,yhat):
    ME=np.round(np.mean(y-yhat),3)
    MPE=np.round(np.mean((y-yhat)/y),3)
    myMAE=np.round(MAE(y,yhat),3)
    myMSE=np.round(MSE(y,yhat),3)
    myMAPE=np.round(MAPE(y,yhat),3)
    print("\n","ME:", np.round(ME,3),"\n","MPE:",MPE,"\n", "MAE:", myMAE,"\n", "MSE:", myMSE,"\n","MAPE:",myMAPE)

In [44]:
est1=np.mean(X_train['petal length (cm)'])
est2=np.mean(X_train['sepal length (cm)']-X_train['petal width (cm)'])

In [45]:
est1=[est1]*len(y_test)
est2=[est2]*len(y_test)

In [48]:
myf(X_test['sepal width (cm)'],est1)
myf(X_test['sepal width (cm)'],est2)

 ME: -0.677
 MPE: -0.237
 MAE: 0.694
 MSE: 0.602
 MAPE: 0.242

 ME: -1.543
 MPE: -0.522
 MAE: 1.543
 MSE: 2.526
 MAPE: 0.522

In [54]:
est3=percentile(X_train['sepal length (cm)'], [25, 50])
y_hat=np.zeros(len(y_test))
y_hat[X_test['sepal length (cm)']>est3[0]]=1
y_hat[X_test['sepal length (cm)']>est3[1]]=2
y_hat=y_hat.astype('int')
print(cr(y_test.astype('int'),y_hat))

              precision    recall  f1-score   support

           0       0.71      0.50      0.59        10
           1       0.33      0.20      0.25        10
           2       0.59      1.00      0.74        10

    accuracy                           0.57        30
   macro avg       0.55      0.57      0.53        30
weighted avg       0.55      0.57      0.53        30

In [57]:
est4=percentile(X_train['sepal length (cm)'], [50,75])
y_hat2=np.zeros(len(y_test))
y_hat2[X_test['sepal length (cm)']>est4[0]]=1
y_hat2[X_test['sepal length (cm)']>est4[1]]=2
y_hat2=y_hat2.astype('int')
print(cr(y_test.astype('int'),y_hat2))

              precision    recall  f1-score   support

           0       0.69      0.90      0.78        10
           1       0.38      0.30      0.33        10
           2       0.67      0.60      0.63        10

    accuracy                           0.60        30
   macro avg       0.58      0.60      0.58        30
weighted avg       0.58      0.60      0.58        30